<div class="footer">
    {# <p>That's all folks!</p> #}
    <span>© 2021 &nbsp; — &nbsp; joshuadraxten (a‍t) live.com &nbsp; — &nbsp; <a href="https://github.com/drax10/joshuadraxten.com">View Source</a> </span>
</div>