<div class="footer">
    <span>© 2021 &nbsp; — &nbsp; <a href="/resume" target="_blank">see my resume</a> &nbsp; — &nbsp; <a href="https://github.com/drax10/joshuadraxten.com" target="_blank">view source</a> </span>
</div>